*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --brand-1: #4a4a4a;
    --brand-2: #3CDBC0;
    --brand-3: #FFFFFF;
    --font-main: "Rubik", sans-serif;
}

.header{
    width: 100%;
    background-color: var(--brand-3);
    font-family: var(--font-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
}

.header a{
    margin: 10px 0;
}

.list{
    list-style: none;
    text-transform: uppercase;
    text-align: center;
    color: var(--brand-1);
    display: flex;
    
}

.list-items{
    padding-bottom: 13px;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.main{
    background-color: var(--brand-2);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--brand-3);
    font-family: var(--font-main);
    font-weight: 700;
    
    
}